# Dependencies
node_modules/
package-lock.json

# Assignment PDF
*.pdf

# Build output
dist/
dist-ssr/

# Vite
*.local
.vite/

# Env files
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# json-server db backup
db-backup.json
